<div class="dialog-container">
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <h2 mat-dialog-title>Edit User</h2>
  <mat-dialog-content>
    <div>
      <mat-form-field
        [ngStyle]="{ 'margin-top': '16px' }"
        class="mat-form-field mr-16"
        appearance="outline"
      >
        <mat-label>First Name</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.firstName"
          matInput
          placeholder="First Name"
        />
      </mat-form-field>

      <mat-form-field
        [ngStyle]="{ 'margin-top': '16px' }"
        class="mat-form-field"
        appearance="outline"
      >
        <mat-label>Last Name</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.lastName"
          matInput
          placeholder="Last Name"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mat-form-field full-width" appearance="outline">
        <mat-label>E-Mail</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.email"
          matInput
          placeholder="E-Mail"
        />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="mat-form-field full-width" appearance="outline">
        <mat-label>Birth Date</mat-label>
        <input
          [disabled]="loading"
          [(ngModel)]="user.birthDate"
          matInput
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-datepicker #picker></mat-datepicker>
        </mat-datepicker-toggle>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
  </mat-dialog-actions>
</div>
