.mat-drawer-container {
  height: 100vh;
}

.menu-icon {
  cursor: pointer;
  color: white;
}

.sidenav {
  width: 300px;
  border-radius: 0;
}

mat-toolbar-row {
  background-color: rgb(84, 84, 255);

  .toolbar-title {
    color: white;
  }
}

.logo-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  padding-left: 16px;
  padding-right: 16px;
  min-height: 56px;
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }
}

.mat-drawer {
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}

mat-toolbar {
  min-height: 56px;
  height: 56px;
}

mat-toolbar-riw {
  min-height: 56px;
  height: 56px;
}

.menu-items {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.04);
    }

    mat-icon {
      margin-right: 16px;
    }
  }
}

.router-container {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 16px;
}

.logo {
  max-width: 100%;
  height: 52px;
}
